backend/data/Post to Notion Content Calendar (1).json
{
    "name": "Linkedin content calendar",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1833030,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "My gateway-webhook webhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 3,
                            "module": "notion:createAPage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2882389
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.Image}}",
                                            "b": "undefined",
                                            "o": "text:notequal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "fields": {
                                    "JObo": "{{1.Post}}",
                                    "title": "{{1.Title}}",
                                    "%7DJXG": [
                                        {
                                            "url": "{{1.Image}}",
                                            "name": "{{1.Title}}"
                                        }
                                    ],
                                    "D%7BtU": "{{1.Type}}",
                                    "Q%5DMd": "Ready"
                                },
                                "select": "list",
                                "database": "1201124570fe800694fce185db0ce624"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": -150
                                },
                                "restore": {
                                    "expect": {
                                        "fields": {
                                            "nested": {
                                                "%7DJXG": {
                                                    "mode": "chose",
                                                    "items": [
                                                        null
                                                    ]
                                                },
                                                "D%7BtU": {
                                                    "mode": "edit"
                                                },
                                                "Q%5DMd": {
                                                    "mode": "chose",
                                                    "label": "Ready"
                                                },
                                                "%40%7BuA": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "select": {
                                            "label": "Select from the list"
                                        },
                                        "database": {
                                            "nested": [
                                                {
                                                    "name": "fields",
                                                    "spec": [
                                                        {
                                                            "name": "title",
                                                            "type": "text",
                                                            "label": "Name",
                                                            "metadata": {
                                                                "type": "title"
                                                            },
                                                            "required": true
                                                        },
                                                        {
                                                            "name": "%40%7BuA",
                                                            "type": "select",
                                                            "label": "Assign",
                                                            "options": "rpc://notion/1/listUsers?noBot=true",
                                                            "metadata": {
                                                                "type": "people"
                                                            },
                                                            "multiple": true
                                                        },
                                                        {
                                                            "name": "D%7BtU",
                                                            "type": "select",
                                                            "label": "Type",
                                                            "options": [
                                                                {
                                                                    "label": "Text",
                                                                    "value": "Text"
                                                                },
                                                                {
                                                                    "label": "Video",
                                                                    "value": "Video"
                                                                },
                                                                {
                                                                    "label": "Image",
                                                                    "value": "Image"
                                                                }
                                                            ],
                                                            "metadata": {
                                                                "type": "multi_select"
                                                            },
                                                            "multiple": true,
                                                            "validate": false
                                                        },
                                                        {
                                                            "name": "JObo",
                                                            "type": "text",
                                                            "label": "Post",
                                                            "metadata": {
                                                                "type": "rich_text"
                                                            }
                                                        },
                                                        {
                                                            "name": "Q%5DMd",
                                                            "type": "select",
                                                            "label": "Status",
                                                            "grouped": true,
                                                            "options": [
                                                                {
                                                                    "label": "To-do",
                                                                    "options": [
                                                                        {
                                                                            "label": "Idea",
                                                                            "value": "Idea"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "label": "In progress",
                                                                    "options": [
                                                                        {
                                                                            "label": "Ready",
                                                                            "value": "Ready"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "label": "Complete",
                                                                    "options": [
                                                                        {
                                                                            "label": "Posted",
                                                                            "value": "Posted"
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "metadata": {
                                                                "type": "status"
                                                            }
                                                        },
                                                        {
                                                            "name": "%7DJXG",
                                                            "spec": [
                                                                {
                                                                    "name": "url",
                                                                    "type": "url",
                                                                    "label": "Image URL",
                                                                    "required": true
                                                                },
                                                                {
                                                                    "help": "If empty, the file name will have **Integromat** .",
                                                                    "name": "name",
                                                                    "type": "text",
                                                                    "label": "File Name"
                                                                }
                                                            ],
                                                            "type": "array",
                                                            "label": "File",
                                                            "metadata": {
                                                                "type": "files"
                                                            }
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Fields"
                                                }
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "notion3"
                                            },
                                            "label": "Forcefactory"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:notion2,notion3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Enter a Database ID",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "map",
                                                "list"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "database",
                                        "type": "text",
                                        "label": "Database ID",
                                        "required": true
                                    },
                                    {
                                        "name": "fields",
                                        "spec": [
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "Name",
                                                "metadata": {
                                                    "type": "title"
                                                },
                                                "required": true
                                            },
                                            {
                                                "name": "%40%7BuA",
                                                "type": "select",
                                                "label": "Assign",
                                                "metadata": {
                                                    "type": "people"
                                                },
                                                "multiple": true
                                            },
                                            {
                                                "name": "D%7BtU",
                                                "type": "select",
                                                "label": "Type",
                                                "metadata": {
                                                    "type": "multi_select"
                                                },
                                                "multiple": true
                                            },
                                            {
                                                "name": "JObo",
                                                "type": "text",
                                                "label": "Post",
                                                "metadata": {
                                                    "type": "rich_text"
                                                }
                                            },
                                            {
                                                "name": "Q%5DMd",
                                                "type": "select",
                                                "label": "Status",
                                                "metadata": {
                                                    "type": "status"
                                                },
                                                "validate": {
                                                    "enum": [
                                                        "Idea",
                                                        "Ready",
                                                        "Posted"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "%7DJXG",
                                                "spec": [
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "Image URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "File Name"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "File",
                                                "metadata": {
                                                    "type": "files"
                                                }
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Fields"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "object",
                                        "type": "text",
                                        "label": "Object"
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Database Item ID"
                                    },
                                    {
                                        "name": "created_time",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "last_edited_time",
                                        "type": "date",
                                        "label": "Last Edited Time"
                                    },
                                    {
                                        "name": "created_by",
                                        "spec": [
                                            {
                                                "name": "object",
                                                "type": "text",
                                                "label": "Object"
                                            },
                                            {
                                                "name": "id",
                                                "type": "uuid",
                                                "label": "ID"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Created by"
                                    },
                                    {
                                        "name": "last_edited_by",
                                        "spec": [
                                            {
                                                "name": "object",
                                                "type": "text",
                                                "label": "Object"
                                            },
                                            {
                                                "name": "id",
                                                "type": "uuid",
                                                "label": "ID"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Last Edited by"
                                    },
                                    {
                                        "name": "icon",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "emoji",
                                                "type": "text",
                                                "label": "Emoji"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Icon"
                                    },
                                    {
                                        "name": "cover",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "external",
                                                "spec": [
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "URL"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "External"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Cover"
                                    },
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "parent",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "workspace",
                                                "type": "boolean",
                                                "label": "Workspace"
                                            },
                                            {
                                                "name": "page_id",
                                                "type": "text",
                                                "label": "Page ID"
                                            },
                                            {
                                                "name": "database_id",
                                                "type": "text",
                                                "label": "Database ID"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Parent"
                                    },
                                    {
                                        "name": "archived",
                                        "type": "boolean",
                                        "label": "Archived"
                                    },
                                    {
                                        "name": "properties",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "id",
                                                    "type": "text",
                                                    "label": "ID"
                                                },
                                                {
                                                    "name": "type",
                                                    "type": "text",
                                                    "label": "Type"
                                                },
                                                {
                                                    "name": "people",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "object",
                                                                "type": "text",
                                                                "label": "Object"
                                                            },
                                                            {
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "ID"
                                                            },
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name"
                                                            },
                                                            {
                                                                "name": "avatar_url",
                                                                "type": "text",
                                                                "label": "Avatar Url"
                                                            },
                                                            {
                                                                "name": "type",
                                                                "type": "text",
                                                                "label": "Type"
                                                            },
                                                            {
                                                                "name": "person",
                                                                "spec": [
                                                                    {
                                                                        "name": "email",
                                                                        "type": "text",
                                                                        "label": "Email"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Person"
                                                            }
                                                        ],
                                                        "type": "collection"
                                                    },
                                                    "type": "array",
                                                    "label": "People"
                                                },
                                                {
                                                    "name": "url",
                                                    "type": "text",
                                                    "label": "URL"
                                                },
                                                {
                                                    "name": "text",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "type",
                                                                "type": "text",
                                                                "label": "Type"
                                                            },
                                                            {
                                                                "name": "text",
                                                                "spec": [
                                                                    {
                                                                        "name": "content",
                                                                        "type": "text",
                                                                        "label": "Content"
                                                                    },
                                                                    {
                                                                        "name": "link",
                                                                        "type": "text",
                                                                        "label": "Link"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Text"
                                                            },
                                                            {
                                                                "name": "annotations",
                                                                "spec": [
                                                                    {
                                                                        "name": "bold",
                                                                        "type": "boolean",
                                                                        "label": "Bold"
                                                                    },
                                                                    {
                                                                        "name": "italic",
                                                                        "type": "boolean",
                                                                        "label": "Italic"
                                                                    },
                                                                    {
                                                                        "name": "strikethrough",
                                                                        "type": "boolean",
                                                                        "label": "Strikethrough"
                                                                    },
                                                                    {
                                                                        "name": "underline",
                                                                        "type": "boolean",
                                                                        "label": "Underline"
                                                                    },
                                                                    {
                                                                        "name": "code",
                                                                        "type": "boolean",
                                                                        "label": "Code"
                                                                    },
                                                                    {
                                                                        "name": "color",
                                                                        "type": "text",
                                                                        "label": "Color"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Annotations"
                                                            },
                                                            {
                                                                "name": "plain_text",
                                                                "type": "text",
                                                                "label": "Plain Text"
                                                            },
                                                            {
                                                                "name": "href",
                                                                "type": "text",
                                                                "label": "Href"
                                                            }
                                                        ],
                                                        "type": "collection"
                                                    },
                                                    "type": "array",
                                                    "label": "Text"
                                                },
                                                {
                                                    "name": "select",
                                                    "spec": [
                                                        {
                                                            "name": "id",
                                                            "type": "text",
                                                            "label": "ID"
                                                        },
                                                        {
                                                            "name": "name",
                                                            "type": "text",
                                                            "label": "Name"
                                                        },
                                                        {
                                                            "name": "color",
                                                            "type": "text",
                                                            "label": "Color"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Select"
                                                },
                                                {
                                                    "name": "email",
                                                    "type": "text",
                                                    "label": "Email"
                                                },
                                                {
                                                    "name": "phone_number",
                                                    "type": "text",
                                                    "label": "Phone Number"
                                                },
                                                {
                                                    "name": "multi_select",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "ID"
                                                            },
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name"
                                                            },
                                                            {
                                                                "name": "color",
                                                                "type": "text",
                                                                "label": "Color"
                                                            }
                                                        ],
                                                        "type": "collection"
                                                    },
                                                    "type": "array",
                                                    "label": "Multi Select"
                                                },
                                                {
                                                    "name": "date",
                                                    "spec": [
                                                        {
                                                            "name": "start",
                                                            "type": "text",
                                                            "label": "Start"
                                                        },
                                                        {
                                                            "name": "end",
                                                            "type": "text",
                                                            "label": "End"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Date"
                                                },
                                                {
                                                    "name": "checkbox",
                                                    "type": "boolean",
                                                    "label": "Checkbox"
                                                },
                                                {
                                                    "name": "number",
                                                    "type": "number",
                                                    "label": "Number"
                                                },
                                                {
                                                    "name": "files",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name"
                                                            }
                                                        ],
                                                        "type": "collection"
                                                    },
                                                    "type": "array",
                                                    "label": "Files"
                                                },
                                                {
                                                    "name": "title",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "type",
                                                                "type": "text",
                                                                "label": "Type"
                                                            },
                                                            {
                                                                "name": "text",
                                                                "spec": [
                                                                    {
                                                                        "name": "content",
                                                                        "type": "text",
                                                                        "label": "Content"
                                                                    },
                                                                    {
                                                                        "name": "link",
                                                                        "type": "text",
                                                                        "label": "Link"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Text"
                                                            },
                                                            {
                                                                "name": "annotations",
                                                                "spec": [
                                                                    {
                                                                        "name": "bold",
                                                                        "type": "boolean",
                                                                        "label": "Bold"
                                                                    },
                                                                    {
                                                                        "name": "italic",
                                                                        "type": "boolean",
                                                                        "label": "Italic"
                                                                    },
                                                                    {
                                                                        "name": "strikethrough",
                                                                        "type": "boolean",
                                                                        "label": "Strikethrough"
                                                                    },
                                                                    {
                                                                        "name": "underline",
                                                                        "type": "boolean",
                                                                        "label": "Underline"
                                                                    },
                                                                    {
                                                                        "name": "code",
                                                                        "type": "boolean",
                                                                        "label": "Code"
                                                                    },
                                                                    {
                                                                        "name": "color",
                                                                        "type": "text",
                                                                        "label": "Color"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Annotations"
                                                            },
                                                            {
                                                                "name": "plain_text",
                                                                "type": "text",
                                                                "label": "Plain Text"
                                                            },
                                                            {
                                                                "name": "href",
                                                                "type": "text",
                                                                "label": "Href"
                                                            }
                                                        ],
                                                        "type": "collection"
                                                    },
                                                    "type": "array",
                                                    "label": "Title"
                                                },
                                                {
                                                    "name": "last_edited_time",
                                                    "time": true,
                                                    "type": "date",
                                                    "label": "Last Edited Time"
                                                },
                                                {
                                                    "name": "created_time",
                                                    "time": true,
                                                    "type": "date",
                                                    "label": "Created Time"
                                                },
                                                {
                                                    "name": "last_edited_by",
                                                    "spec": [
                                                        {
                                                            "name": "object",
                                                            "type": "text",
                                                            "label": "Object"
                                                        },
                                                        {
                                                            "name": "id",
                                                            "type": "text",
                                                            "label": "ID"
                                                        },
                                                        {
                                                            "name": "name",
                                                            "type": "text",
                                                            "label": "Name"
                                                        },
                                                        {
                                                            "name": "avatar_url",
                                                            "type": "text",
                                                            "label": "Avatar Url"
                                                        },
                                                        {
                                                            "name": "type",
                                                            "type": "text",
                                                            "label": "Type"
                                                        },
                                                        {
                                                            "name": "person",
                                                            "spec": [
                                                                {
                                                                    "name": "email",
                                                                    "type": "text",
                                                                    "label": "Email"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Person"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Last Edited By"
                                                },
                                                {
                                                    "name": "created_by",
                                                    "spec": [
                                                        {
                                                            "name": "object",
                                                            "type": "text",
                                                            "label": "Object"
                                                        },
                                                        {
                                                            "name": "id",
                                                            "type": "text",
                                                            "label": "ID"
                                                        },
                                                        {
                                                            "name": "name",
                                                            "type": "text",
                                                            "label": "Name"
                                                        },
                                                        {
                                                            "name": "avatar_url",
                                                            "type": "text",
                                                            "label": "Avatar Url"
                                                        },
                                                        {
                                                            "name": "type",
                                                            "type": "text",
                                                            "label": "Type"
                                                        },
                                                        {
                                                            "name": "person",
                                                            "spec": [
                                                                {
                                                                    "name": "email",
                                                                    "type": "text",
                                                                    "label": "Email"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Person"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Created By"
                                                },
                                                {
                                                    "name": "formula",
                                                    "spec": [
                                                        {
                                                            "name": "type",
                                                            "type": "text",
                                                            "label": "Type"
                                                        },
                                                        {
                                                            "name": "string",
                                                            "type": "text",
                                                            "label": "String"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Formula"
                                                },
                                                {
                                                    "name": "relation",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "ID"
                                                            }
                                                        ],
                                                        "type": "collection"
                                                    },
                                                    "type": "array",
                                                    "label": "Relation"
                                                },
                                                {
                                                    "name": "label",
                                                    "type": "text",
                                                    "label": "Label"
                                                }
                                            ],
                                            "type": "collection"
                                        },
                                        "type": "array",
                                        "label": "Properties"
                                    },
                                    {
                                        "name": "properties_value",
                                        "spec": [
                                            {
                                                "name": "Assign",
                                                "spec": [
                                                    {
                                                        "name": "object",
                                                        "type": "text",
                                                        "label": "Object"
                                                    },
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "avatar_url",
                                                        "type": "text",
                                                        "label": "Avatar Url"
                                                    },
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    },
                                                    {
                                                        "name": "person",
                                                        "spec": [
                                                            {
                                                                "name": "email",
                                                                "type": "text",
                                                                "label": "Email"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Person"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Assign"
                                            },
                                            {
                                                "name": "Type",
                                                "spec": [
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "color",
                                                        "type": "text",
                                                        "label": "Color"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "Post",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    },
                                                    {
                                                        "name": "text",
                                                        "spec": [
                                                            {
                                                                "name": "content",
                                                                "type": "text",
                                                                "label": "Content"
                                                            },
                                                            {
                                                                "name": "link",
                                                                "type": "text",
                                                                "label": "Link"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "annotations",
                                                        "spec": [
                                                            {
                                                                "name": "bold",
                                                                "type": "boolean",
                                                                "label": "Bold"
                                                            },
                                                            {
                                                                "name": "italic",
                                                                "type": "boolean",
                                                                "label": "Italic"
                                                            },
                                                            {
                                                                "name": "strikethrough",
                                                                "type": "boolean",
                                                                "label": "Strikethrough"
                                                            },
                                                            {
                                                                "name": "underline",
                                                                "type": "boolean",
                                                                "label": "Underline"
                                                            },
                                                            {
                                                                "name": "code",
                                                                "type": "boolean",
                                                                "label": "Code"
                                                            },
                                                            {
                                                                "name": "color",
                                                                "type": "text",
                                                                "label": "Color"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Annotations"
                                                    },
                                                    {
                                                        "name": "plain_text",
                                                        "type": "text",
                                                        "label": "Plain Text"
                                                    },
                                                    {
                                                        "name": "href",
                                                        "type": "text",
                                                        "label": "Href"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Post"
                                            },
                                            {
                                                "name": "Status",
                                                "spec": [
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "color",
                                                        "type": "text",
                                                        "label": "Color"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Status"
                                            },
                                            {
                                                "name": "File",
                                                "spec": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    },
                                                    {
                                                        "name": "file",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "text",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "expiry_time",
                                                                "type": "date",
                                                                "label": "Expiry Time"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File"
                                                    },
                                                    {
                                                        "name": "external",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "text",
                                                                "label": "URL"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "External"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "File"
                                            },
                                            {
                                                "name": "Name",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    },
                                                    {
                                                        "name": "text",
                                                        "spec": [
                                                            {
                                                                "name": "content",
                                                                "type": "text",
                                                                "label": "Content"
                                                            },
                                                            {
                                                                "name": "link",
                                                                "type": "text",
                                                                "label": "Link"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "annotations",
                                                        "spec": [
                                                            {
                                                                "name": "bold",
                                                                "type": "boolean",
                                                                "label": "Bold"
                                                            },
                                                            {
                                                                "name": "italic",
                                                                "type": "boolean",
                                                                "label": "Italic"
                                                            },
                                                            {
                                                                "name": "strikethrough",
                                                                "type": "boolean",
                                                                "label": "Strikethrough"
                                                            },
                                                            {
                                                                "name": "underline",
                                                                "type": "boolean",
                                                                "label": "Underline"
                                                            },
                                                            {
                                                                "name": "code",
                                                                "type": "boolean",
                                                                "label": "Code"
                                                            },
                                                            {
                                                                "name": "color",
                                                                "type": "text",
                                                                "label": "Color"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Annotations"
                                                    },
                                                    {
                                                        "name": "plain_text",
                                                        "type": "text",
                                                        "label": "Plain Text"
                                                    },
                                                    {
                                                        "name": "href",
                                                        "type": "text",
                                                        "label": "Href"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Name"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Properties Value"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 4,
                            "module": "notion:createAPage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2882389
                            },
                            "filter": {
                                "name": "no file",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.Image}}",
                                            "b": "undefined",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "fields": {
                                    "JObo": "{{1.Post}}",
                                    "title": "{{1.Title}}",
                                    "D%7BtU": "{{1.Type}}",
                                    "Q%5DMd": "Ready"
                                },
                                "select": "list",
                                "database": "1201124570fe800694fce185db0ce624"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 623,
                                    "y": 153
                                },
                                "restore": {
                                    "expect": {
                                        "fields": {
                                            "nested": {
                                                "%7DJXG": {
                                                    "mode": "chose"
                                                },
                                                "D%7BtU": {
                                                    "mode": "edit"
                                                },
                                                "Q%5DMd": {
                                                    "mode": "chose",
                                                    "label": "Ready"
                                                },
                                                "%40%7BuA": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "select": {
                                            "label": "Select from the list"
                                        },
                                        "database": {
                                            "nested": [
                                                {
                                                    "name": "fields",
                                                    "spec": [
                                                        {
                                                            "name": "title",
                                                            "type": "text",
                                                            "label": "Name",
                                                            "metadata": {
                                                                "type": "title"
                                                            },
                                                            "required": true
                                                        },
                                                        {
                                                            "name": "%40%7BuA",
                                                            "type": "select",
                                                            "label": "Assign",
                                                            "options": "rpc://notion/1/listUsers?noBot=true",
                                                            "metadata": {
                                                                "type": "people"
                                                            },
                                                            "multiple": true
                                                        },
                                                        {
                                                            "name": "D%7BtU",
                                                            "type": "select",
                                                            "label": "Type",
                                                            "options": [
                                                                {
                                                                    "label": "Text",
                                                                    "value": "Text"
                                                                },
                                                                {
                                                                    "label": "Video",
                                                                    "value": "Video"
                                                                },
                                                                {
                                                                    "label": "Image",
                                                                    "value": "Image"
                                                                }
                                                            ],
                                                            "metadata": {
                                                                "type": "multi_select"
                                                            },
                                                            "multiple": true,
                                                            "validate": false
                                                        },
                                                        {
                                                            "name": "JObo",
                                                            "type": "text",
                                                            "label": "Post",
                                                            "metadata": {
                                                                "type": "rich_text"
                                                            }
                                                        },
                                                        {
                                                            "name": "Q%5DMd",
                                                            "type": "select",
                                                            "label": "Status",
                                                            "grouped": true,
                                                            "options": [
                                                                {
                                                                    "label": "To-do",
                                                                    "options": [
                                                                        {
                                                                            "label": "Idea",
                                                                            "value": "Idea"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "label": "In progress",
                                                                    "options": [
                                                                        {
                                                                            "label": "Ready",
                                                                            "value": "Ready"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "label": "Complete",
                                                                    "options": [
                                                                        {
                                                                            "label": "Posted",
                                                                            "value": "Posted"
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "metadata": {
                                                                "type": "status"
                                                            }
                                                        },
                                                        {
                                                            "name": "%7DJXG",
                                                            "spec": [
                                                                {
                                                                    "name": "url",
                                                                    "type": "url",
                                                                    "label": "Image URL",
                                                                    "required": true
                                                                },
                                                                {
                                                                    "help": "If empty, the file name will have **Integromat** .",
                                                                    "name": "name",
                                                                    "type": "text",
                                                                    "label": "File Name"
                                                                }
                                                            ],
                                                            "type": "array",
                                                            "label": "File",
                                                            "metadata": {
                                                                "type": "files"
                                                            }
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Fields"
                                                }
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "notion3"
                                            },
                                            "label": "Forcefactory"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:notion2,notion3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Enter a Database ID",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "map",
                                                "list"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "database",
                                        "type": "text",
                                        "label": "Database ID",
                                        "required": true
                                    },
                                    {
                                        "name": "fields",
                                        "spec": [
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "Name",
                                                "metadata": {
                                                    "type": "title"
                                                },
                                                "required": true
                                            },
                                            {
                                                "name": "%40%7BuA",
                                                "type": "select",
                                                "label": "Assign",
                                                "metadata": {
                                                    "type": "people"
                                                },
                                                "multiple": true
                                            },
                                            {
                                                "name": "D%7BtU",
                                                "type": "select",
                                                "label": "Type",
                                                "metadata": {
                                                    "type": "multi_select"
                                                },
                                                "multiple": true
                                            },
                                            {
                                                "name": "JObo",
                                                "type": "text",
                                                "label": "Post",
                                                "metadata": {
                                                    "type": "rich_text"
                                                }
                                            },
                                            {
                                                "name": "Q%5DMd",
                                                "type": "select",
                                                "label": "Status",
                                                "metadata": {
                                                    "type": "status"
                                                },
                                                "validate": {
                                                    "enum": [
                                                        "Idea",
                                                        "Ready",
                                                        "Posted"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "%7DJXG",
                                                "spec": [
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "Image URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "File Name"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "File",
                                                "metadata": {
                                                    "type": "files"
                                                }
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Fields"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "object",
                                        "type": "text",
                                        "label": "Object"
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Database Item ID"
                                    },
                                    {
                                        "name": "created_time",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "last_edited_time",
                                        "type": "date",
                                        "label": "Last Edited Time"
                                    },
                                    {
                                        "name": "created_by",
                                        "spec": [
                                            {
                                                "name": "object",
                                                "type": "text",
                                                "label": "Object"
                                            },
                                            {
                                                "name": "id",
                                                "type": "uuid",
                                                "label": "ID"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Created by"
                                    },
                                    {
                                        "name": "last_edited_by",
                                        "spec": [
                                            {
                                                "name": "object",
                                                "type": "text",
                                                "label": "Object"
                                            },
                                            {
                                                "name": "id",
                                                "type": "uuid",
                                                "label": "ID"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Last Edited by"
                                    },
                                    {
                                        "name": "icon",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "emoji",
                                                "type": "text",
                                                "label": "Emoji"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Icon"
                                    },
                                    {
                                        "name": "cover",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "external",
                                                "spec": [
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "URL"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "External"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Cover"
                                    },
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "parent",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "workspace",
                                                "type": "boolean",
                                                "label": "Workspace"
                                            },
                                            {
                                                "name": "page_id",
                                                "type": "text",
                                                "label": "Page ID"
                                            },
                                            {
                                                "name": "database_id",
                                                "type": "text",
                                                "label": "Database ID"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Parent"
                                    },
                                    {
                                        "name": "archived",
                                        "type": "boolean",
                                        "label": "Archived"
                                    },
                                    {
                                        "name": "properties",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "id",
                                                    "type": "text",
                                                    "label": "ID"
                                                },
                                                {
                                                    "name": "type",
                                                    "type": "text",
                                                    "label": "Type"
                                                },
                                                {
                                                    "name": "people",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "object",
                                                                "type": "text",
                                                                "label": "Object"
                                                            },
                                                            {
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "ID"
                                                            },
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name"
                                                            },
                                                            {
                                                                "name": "avatar_url",
                                                                "type": "text",
                                                                "label": "Avatar Url"
                                                            },
                                                            {
                                                                "name": "type",
                                                                "type": "text",
                                                                "label": "Type"
                                                            },
                                                            {
                                                                "name": "person",
                                                                "spec": [
                                                                    {
                                                                        "name": "email",
                                                                        "type": "text",
                                                                        "label": "Email"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Person"
                                                            }
                                                        ],
                                                        "type": "collection"
                                                    },
                                                    "type": "array",
                                                    "label": "People"
                                                },
                                                {
                                                    "name": "url",
                                                    "type": "text",
                                                    "label": "URL"
                                                },
                                                {
                                                    "name": "text",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "type",
                                                                "type": "text",
                                                                "label": "Type"
                                                            },
                                                            {
                                                                "name": "text",
                                                                "spec": [
                                                                    {
                                                                        "name": "content",
                                                                        "type": "text",
                                                                        "label": "Content"
                                                                    },
                                                                    {
                                                                        "name": "link",
                                                                        "type": "text",
                                                                        "label": "Link"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Text"
                                                            },
                                                            {
                                                                "name": "annotations",
                                                                "spec": [
                                                                    {
                                                                        "name": "bold",
                                                                        "type": "boolean",
                                                                        "label": "Bold"
                                                                    },
                                                                    {
                                                                        "name": "italic",
                                                                        "type": "boolean",
                                                                        "label": "Italic"
                                                                    },
                                                                    {
                                                                        "name": "strikethrough",
                                                                        "type": "boolean",
                                                                        "label": "Strikethrough"
                                                                    },
                                                                    {
                                                                        "name": "underline",
                                                                        "type": "boolean",
                                                                        "label": "Underline"
                                                                    },
                                                                    {
                                                                        "name": "code",
                                                                        "type": "boolean",
                                                                        "label": "Code"
                                                                    },
                                                                    {
                                                                        "name": "color",
                                                                        "type": "text",
                                                                        "label": "Color"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Annotations"
                                                            },
                                                            {
                                                                "name": "plain_text",
                                                                "type": "text",
                                                                "label": "Plain Text"
                                                            },
                                                            {
                                                                "name": "href",
                                                                "type": "text",
                                                                "label": "Href"
                                                            }
                                                        ],
                                                        "type": "collection"
                                                    },
                                                    "type": "array",
                                                    "label": "Text"
                                                },
                                                {
                                                    "name": "select",
                                                    "spec": [
                                                        {
                                                            "name": "id",
                                                            "type": "text",
                                                            "label": "ID"
                                                        },
                                                        {
                                                            "name": "name",
                                                            "type": "text",
                                                            "label": "Name"
                                                        },
                                                        {
                                                            "name": "color",
                                                            "type": "text",
                                                            "label": "Color"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Select"
                                                },
                                                {
                                                    "name": "email",
                                                    "type": "text",
                                                    "label": "Email"
                                                },
                                                {
                                                    "name": "phone_number",
                                                    "type": "text",
                                                    "label": "Phone Number"
                                                },
                                                {
                                                    "name": "multi_select",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "ID"
                                                            },
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name"
                                                            },
                                                            {
                                                                "name": "color",
                                                                "type": "text",
                                                                "label": "Color"
                                                            }
                                                        ],
                                                        "type": "collection"
                                                    },
                                                    "type": "array",
                                                    "label": "Multi Select"
                                                },
                                                {
                                                    "name": "date",
                                                    "spec": [
                                                        {
                                                            "name": "start",
                                                            "type": "text",
                                                            "label": "Start"
                                                        },
                                                        {
                                                            "name": "end",
                                                            "type": "text",
                                                            "label": "End"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Date"
                                                },
                                                {
                                                    "name": "checkbox",
                                                    "type": "boolean",
                                                    "label": "Checkbox"
                                                },
                                                {
                                                    "name": "number",
                                                    "type": "number",
                                                    "label": "Number"
                                                },
                                                {
                                                    "name": "files",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name"
                                                            }
                                                        ],
                                                        "type": "collection"
                                                    },
                                                    "type": "array",
                                                    "label": "Files"
                                                },
                                                {
                                                    "name": "title",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "type",
                                                                "type": "text",
                                                                "label": "Type"
                                                            },
                                                            {
                                                                "name": "text",
                                                                "spec": [
                                                                    {
                                                                        "name": "content",
                                                                        "type": "text",
                                                                        "label": "Content"
                                                                    },
                                                                    {
                                                                        "name": "link",
                                                                        "type": "text",
                                                                        "label": "Link"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Text"
                                                            },
                                                            {
                                                                "name": "annotations",
                                                                "spec": [
                                                                    {
                                                                        "name": "bold",
                                                                        "type": "boolean",
                                                                        "label": "Bold"
                                                                    },
                                                                    {
                                                                        "name": "italic",
                                                                        "type": "boolean",
                                                                        "label": "Italic"
                                                                    },
                                                                    {
                                                                        "name": "strikethrough",
                                                                        "type": "boolean",
                                                                        "label": "Strikethrough"
                                                                    },
                                                                    {
                                                                        "name": "underline",
                                                                        "type": "boolean",
                                                                        "label": "Underline"
                                                                    },
                                                                    {
                                                                        "name": "code",
                                                                        "type": "boolean",
                                                                        "label": "Code"
                                                                    },
                                                                    {
                                                                        "name": "color",
                                                                        "type": "text",
                                                                        "label": "Color"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Annotations"
                                                            },
                                                            {
                                                                "name": "plain_text",
                                                                "type": "text",
                                                                "label": "Plain Text"
                                                            },
                                                            {
                                                                "name": "href",
                                                                "type": "text",
                                                                "label": "Href"
                                                            }
                                                        ],
                                                        "type": "collection"
                                                    },
                                                    "type": "array",
                                                    "label": "Title"
                                                },
                                                {
                                                    "name": "last_edited_time",
                                                    "time": true,
                                                    "type": "date",
                                                    "label": "Last Edited Time"
                                                },
                                                {
                                                    "name": "created_time",
                                                    "time": true,
                                                    "type": "date",
                                                    "label": "Created Time"
                                                },
                                                {
                                                    "name": "last_edited_by",
                                                    "spec": [
                                                        {
                                                            "name": "object",
                                                            "type": "text",
                                                            "label": "Object"
                                                        },
                                                        {
                                                            "name": "id",
                                                            "type": "text",
                                                            "label": "ID"
                                                        },
                                                        {
                                                            "name": "name",
                                                            "type": "text",
                                                            "label": "Name"
                                                        },
                                                        {
                                                            "name": "avatar_url",
                                                            "type": "text",
                                                            "label": "Avatar Url"
                                                        },
                                                        {
                                                            "name": "type",
                                                            "type": "text",
                                                            "label": "Type"
                                                        },
                                                        {
                                                            "name": "person",
                                                            "spec": [
                                                                {
                                                                    "name": "email",
                                                                    "type": "text",
                                                                    "label": "Email"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Person"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Last Edited By"
                                                },
                                                {
                                                    "name": "created_by",
                                                    "spec": [
                                                        {
                                                            "name": "object",
                                                            "type": "text",
                                                            "label": "Object"
                                                        },
                                                        {
                                                            "name": "id",
                                                            "type": "text",
                                                            "label": "ID"
                                                        },
                                                        {
                                                            "name": "name",
                                                            "type": "text",
                                                            "label": "Name"
                                                        },
                                                        {
                                                            "name": "avatar_url",
                                                            "type": "text",
                                                            "label": "Avatar Url"
                                                        },
                                                        {
                                                            "name": "type",
                                                            "type": "text",
                                                            "label": "Type"
                                                        },
                                                        {
                                                            "name": "person",
                                                            "spec": [
                                                                {
                                                                    "name": "email",
                                                                    "type": "text",
                                                                    "label": "Email"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Person"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Created By"
                                                },
                                                {
                                                    "name": "formula",
                                                    "spec": [
                                                        {
                                                            "name": "type",
                                                            "type": "text",
                                                            "label": "Type"
                                                        },
                                                        {
                                                            "name": "string",
                                                            "type": "text",
                                                            "label": "String"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Formula"
                                                },
                                                {
                                                    "name": "relation",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "ID"
                                                            }
                                                        ],
                                                        "type": "collection"
                                                    },
                                                    "type": "array",
                                                    "label": "Relation"
                                                },
                                                {
                                                    "name": "label",
                                                    "type": "text",
                                                    "label": "Label"
                                                }
                                            ],
                                            "type": "collection"
                                        },
                                        "type": "array",
                                        "label": "Properties"
                                    },
                                    {
                                        "name": "properties_value",
                                        "spec": [
                                            {
                                                "name": "Assign",
                                                "spec": [
                                                    {
                                                        "name": "object",
                                                        "type": "text",
                                                        "label": "Object"
                                                    },
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "avatar_url",
                                                        "type": "text",
                                                        "label": "Avatar Url"
                                                    },
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    },
                                                    {
                                                        "name": "person",
                                                        "spec": [
                                                            {
                                                                "name": "email",
                                                                "type": "text",
                                                                "label": "Email"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Person"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Assign"
                                            },
                                            {
                                                "name": "Type",
                                                "spec": [
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "color",
                                                        "type": "text",
                                                        "label": "Color"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "Post",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    },
                                                    {
                                                        "name": "text",
                                                        "spec": [
                                                            {
                                                                "name": "content",
                                                                "type": "text",
                                                                "label": "Content"
                                                            },
                                                            {
                                                                "name": "link",
                                                                "type": "text",
                                                                "label": "Link"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "annotations",
                                                        "spec": [
                                                            {
                                                                "name": "bold",
                                                                "type": "boolean",
                                                                "label": "Bold"
                                                            },
                                                            {
                                                                "name": "italic",
                                                                "type": "boolean",
                                                                "label": "Italic"
                                                            },
                                                            {
                                                                "name": "strikethrough",
                                                                "type": "boolean",
                                                                "label": "Strikethrough"
                                                            },
                                                            {
                                                                "name": "underline",
                                                                "type": "boolean",
                                                                "label": "Underline"
                                                            },
                                                            {
                                                                "name": "code",
                                                                "type": "boolean",
                                                                "label": "Code"
                                                            },
                                                            {
                                                                "name": "color",
                                                                "type": "text",
                                                                "label": "Color"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Annotations"
                                                    },
                                                    {
                                                        "name": "plain_text",
                                                        "type": "text",
                                                        "label": "Plain Text"
                                                    },
                                                    {
                                                        "name": "href",
                                                        "type": "text",
                                                        "label": "Href"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Post"
                                            },
                                            {
                                                "name": "Status",
                                                "spec": [
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "color",
                                                        "type": "text",
                                                        "label": "Color"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Status"
                                            },
                                            {
                                                "name": "File",
                                                "spec": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    },
                                                    {
                                                        "name": "file",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "text",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "expiry_time",
                                                                "type": "date",
                                                                "label": "Expiry Time"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File"
                                                    },
                                                    {
                                                        "name": "external",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "text",
                                                                "label": "URL"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "External"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "File"
                                            },
                                            {
                                                "name": "Name",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    },
                                                    {
                                                        "name": "text",
                                                        "spec": [
                                                            {
                                                                "name": "content",
                                                                "type": "text",
                                                                "label": "Content"
                                                            },
                                                            {
                                                                "name": "link",
                                                                "type": "text",
                                                                "label": "Link"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "annotations",
                                                        "spec": [
                                                            {
                                                                "name": "bold",
                                                                "type": "boolean",
                                                                "label": "Bold"
                                                            },
                                                            {
                                                                "name": "italic",
                                                                "type": "boolean",
                                                                "label": "Italic"
                                                            },
                                                            {
                                                                "name": "strikethrough",
                                                                "type": "boolean",
                                                                "label": "Strikethrough"
                                                            },
                                                            {
                                                                "name": "underline",
                                                                "type": "boolean",
                                                                "label": "Underline"
                                                            },
                                                            {
                                                                "name": "code",
                                                                "type": "boolean",
                                                                "label": "Code"
                                                            },
                                                            {
                                                                "name": "color",
                                                                "type": "text",
                                                                "label": "Color"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Annotations"
                                                    },
                                                    {
                                                        "name": "plain_text",
                                                        "type": "text",
                                                        "label": "Plain Text"
                                                    },
                                                    {
                                                        "name": "href",
                                                        "type": "text",
                                                        "label": "Href"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Name"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Properties Value"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}